.watchContainer {
    display: flex;
    color: #F2F2F2;
    padding: 30px 50px;
    gap: 50px;
}
.cohortImg {
    min-width: 335px;
    min-height: 306px;
    max-width: 335px;
    max-height: 306px;
    border-radius: 12px;
    overflow: hidden;
}
.cohortImg img {
    width: 100%;
    height: 100%;
}
.watchContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
    text-align: right;
    padding: 15px;
}
.watchContent img {
    width: 32px;
    height: 32px;
}
.watchContent h4{
    font-size: 31px;
    font-weight: 500;
    line-height: 37.2px;
}
.watchContent p {
    font-size: 16px;
    font-weight: 200;
    line-height: 19.2px;
}

@media (max-width: 1280px) {
    .watchContainer {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0px 40px;
        gap: 20px;
    }
    .watchContent {
        align-items: center;
        padding: 0px;
        text-align: center;
    }
}

@media (max-width: 540px) {
    .cohortImg {
        min-width: 100%;
        min-height: 100%;
    }
}

@media (max-width: 400px) {
    .watchContainer {
        padding: 10px;
    }
}