.testimonialContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 50px;
    gap: 40px;
}
.heading {
    width: 100%;
    padding: 0px 60px 0px 60px;
}    
h5 {
    color: #F2F2F2;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: right;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #E5E5E680;
    background: #E5E5E680;
    margin-top: 20px;
}
.testimonialListContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 35px;
}
.testimonialList {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 0px 10px;
}
.testimonialList::-webkit-scrollbar {
    height: 0;
}
.testimonial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    min-width: 450px;
    /* max-height: 136px; */
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 1px 1px 0px #0000000A, 0px 4px 10px 0px #0000000A;
    border-radius: 12px;
}
.testimonialName {
    color: #19191A;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
}
.testimonialName span {
    color: #96979A;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
}
.testimonialDescription {
    color: #1D2129;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

@media (max-width: 1280px) {
    .testimonialContainer {
        align-items: center;
        padding: 40px;
        padding-top: 50px;
        gap: 40px;
    }
    h5 {
        text-align: center;
    }
}
@media (max-width: 540px) {
    .testimonialListContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .heading {
        padding: 0px;
    }
    .testimonialList {
        width: 100%;
        padding: 0px;
    }
    .testimonial {
        min-width: unset;
        min-width: 100%;
    }
}
@media (max-width: 400px) {
    .testimonialContainer {
        padding: 40px 10px;
    }
}