@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
    height: 100vh;
    background: radial-gradient(80% 100% at 5% 95%,
     rgba(31, 169, 17, 0.810119) 17.21%,
     #2F15D0 64.58%, rgba(0, 0, 0) 100%);
     font-family: 'Inter', sans-serif;
}
.signup-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 640px;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-box {
    width: 365px;
    height: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.signup-box h3 {
    display: inline-block;
    /* width: 326px; */
    color: #B0B1B3;
    font-size: 39px;
    font-weight: 500;
    line-height: 46.8px;
    padding: 0 10px;
}
.signup-box input[type='email'] {
    width: 340px;
    height: 59px;
    outline: none;
    border: 1px solid #E5E5E6;
    border-radius: 8px;
    padding: 20px 24px;
    box-shadow: 0px 1px 1px 0px #0000000A, 0px 4px 10px 0px #0000000A;
}
.signup-box input::placeholder {
    color: #CACBCC;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}
.signup-box input[type='submit'] {
    width: 340px;
    height: 59px;
    color: #fff;
    background: #19191A;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    border: none;
    border-radius: 8px;
}
.signup-box p {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
}