.signupContainer {
    width: 640px;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 14px 64px -4px #18274B1F, 0px 8px 22px -6px #18274B1F;
}
.signupBox {
    width: 365px;
    height: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.signupBox h3 {
    display: inline-block;
    color: #B0B1B3;
    font-size: 39px;
    font-weight: 500;
    line-height: 46.8px;
    padding: 0 10px;
}
.signupBox input[type='email'] {
    width: 340px;
    height: 59px;
    outline: none;
    border: 1px solid #E5E5E6;
    border-radius: 8px;
    padding: 20px 24px;
    box-shadow: 0px 1px 1px 0px #0000000A, 0px 4px 10px 0px #0000000A;
}
.signupBox input::placeholder {
    color: #CACBCC;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}
.signupBox input[type='submit'] {
    width: 340px;
    height: 59px;
    color: #fff;
    background: #19191A;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.errorMessage {
    color: red;
}
.signupBox p {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
}

@media (max-width: 1280px) {
    .signupContainer {
        width: 100%;
        min-height: 60vh;
        padding: 20px;
    }
    .signupBox {
        width: 100%;
        height: 100%;
        justify-content: unset;
        justify-content: center;
        gap: 15px;
    }
    .signupBox h3 {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .signupContainer {
        padding: 10px;
    }
    .signupBox h3 {
        font-size: 32px;
        line-height: 37.2px;
    }
    .signupBox input[type='email'] {
        width: 100%;
    }
    .signupBox input[type='submit'] {
        width: 100%;
    }
}